body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  word-break: keep-all;
  height: 1200px;

}
a {
  text-decoration: none;
  color: #5e5e5e;
}
img {
  display: block;
}

.btn {
  width: 113px;
  height: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid #333;
  border-radius: 20px;
  color: #333;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #FFF;
}
.btn.btn--reverse {
  background-color: #333;
  color: #FFF;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}

/* Inner */
.inner {
  max-width: 969px;
  margin: 0 auto;
  padding: 0 10;
  position: relative;
}

/* Header */
header {
  height: 60px;
  background-color: #D9D9D9;
}
header .inner {

}
header .download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 60px;
}
header .download span {

}
header .download a  {
 
}
header .download a:hover  {
  text-decoration: underline;
}
/* Badges */
header .badges {
  position: absolute;
  top: 400px;
  right: 5px;
}
header .badges .badge {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
  cursor: pointer;
}
/* Menu */
.menu {
  background-color: #f2f2f2;
}

.menu ul.main-menu {
  display: flex;
  justify-content: flex-start;
  height: 40px;
  gap: 15px;
}
.menu ul.main-menu li {
  display: flex;
  cursor: pointer;
  position: relative;
}
.menu ul.main-menu li a {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 13px;
  color: #5e5e5e;
  opacity: .8;  
}
.menu ul.main-menu li.logo a {
  background-image: url("../images/logo.png");
  width: 30px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
}
.menu ul.main-menu li a:hover {
  opacity: 1;
}

/* introduce */
.introduce {
  background-color: #f2f2f2;
  height: 560px;
}
.introduce .main-container {
  display: flex;
  position: absolute;
  top: 150px;
  
}
.introduce .comment {
  width: 493px;
}
.introduce .comment h1 {
  font-size: 50px;
  font-weight: 500;
}
.introduce .comment p {

}
.introduce .comment .btn-group {
  margin-top: 20px;
  display: flex;
}
.introduce .comment .btn-group .btn{
  margin-right: 10px;
}
.introduce .main-image {
  background-image: url("../images/mainimage.png");
  width: 400px;
  height: 400px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(0,-70px);
}

/* brand */
.brand {

}
.brand h2 {
  width: 850px;
  text-align: center;
  font: 20px;
  font-weight: 700;
  margin-top: 50px;
}
.brand p {
  width: 850px;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 38px;
}
.brand .brand-container {
  display: grid;
  position: absolute;
  margin: 0 auto;
  grid-gap: 15px 20px;
  grid-template-columns: repeat(7, 1fr);
}
.brand .brand-container .item {
  background-color: #D9D9D9;
  width: 102px;
  height: 47px;
  border-radius: 5px;
}
